.vscode/
notes/.vscode/
notes/basicjs/.vscode/

# Packages
notes/basicjs/asynchronous_programming/node_modules
notes/basicjs/asynchronous_programming/package-lock.json

labs/async_programming/node_modules
labs/async_programming/package-lock.json

